[server]
port = 40001

[app]
api_token      = "your_secret_token"
wx_appid       = "your_wx_appid"
wx_secret      = "your_wx_secret"
wx_userid      = "openid1|openid2"
wx_template_id = "your_template_id"
wx_base_url    = ""
